<br>
<br>



<div class="container-fluid">
    <div class="row">
        <div class="col-3 collapse d-md-flex bg-dark " id="sidebar">
            <ul class="nav flex-column flex-nowrap" style="margin-top: 100px">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " [routerLink]="['/allSubjects']">View Subject
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    </a>
                </li>

                       
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/fisrtYearUndergraduateSubjects']">Fisrt Year Undergraduate Subjects</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link py-0" [routerLink]="['/secondYearUndergraduateSubjects']">Second Year Undergraduate Subjects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/thirdYearUndergraduateSubjects']">Third Year Undergraduate Subjects</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link py-0" [routerLink]="['/fourthYearUndergraduateSubjects']">Fourth Year Undergraduate Subjects</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/upcomingExams']">View All Upcoming Exams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/undergraduateExams']">Undergraduate Exams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/postgraduateExams']">Postgraduate Exams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Enroll</a>
                </li>
            </ul>
        </div>
        <div class="col pt-2">
            <h2>
                <a href="" data-target="#sidebar" data-toggle="collapse" class="d-md-none">
                    <i class="fa fa-bars"></i>
                </a>
                University of Colombo School of Computing
            </h2>
            <h6 class="hidden-sm-down">Examination Registration Department</h6>
            <p>Student Dashboard</p>
        </div>
    </div>
</div>