<br>
<br>
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-3 collapse d-md-flex bg-dark " id="sidebar">
      <ul class="nav flex-column flex-nowrap" style="margin-top: 100px">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/allSubjects']">View Subject
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/fisrtYearUndergraduateSubjects']">Fisrt Year Undergraduate Subjects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link py-0" [routerLink]="['/secondYearUndergraduateSubjects']">Second Year Undergraduate Subjects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/thirdYearUndergraduateSubjects']">Third Year Undergraduate Subjects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link py-0" [routerLink]="['/fourthYearUndergraduateSubjects']">Fourth Year Undergraduate Subjects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/upcomingExams']">View All Upcoming Exams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/undergraduateExams']">Undergraduate Exams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Postgraduate Exams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Enroll</a>
        </li>
      </ul>
    </div> -->
    <div class="col pt-2">
      <div class="container col-sm-11">
        <h2 style="color: purple">
          <a href="" data-target="#sidebar" data-toggle="collapse" class="d-md-none">
            <i class="fa fa-bars"></i>
          </a>
          Fourth Year Course Modules
        </h2>
        </div>
        </div>

        <table *ngIf="subjectlist" class="table table-hover">
          <thead>
            <tr class="table-info">
              <th> Subject Code </th>
              <th> Subject Name </th>
              <th> Course </th>
              <th>Semester</th>
              <!-- <th> Undergraduate/Postgraduate </th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of subjectlist">
              <!-- <td>
                <b>{{y.year}}</b>
              </td> -->
              <td>
                <b>{{x.subjectCode}}</b>
              </td>
              <td>
                <b>{{x.subjectName}}</b>
              </td>
              <td>
                <b>{{x.course}}</b>
              </td>
              <td>
                <b>{{x.semester}}</b>
              </td>
            </tr>

          </tbody>

        </table>













      <!-- </div>
    </div>
  </div>
</div> -->