<br>
<br>

<div class="row">
  <h3>1st Year</h3>
</div>
<div class="row ">
  <div class="nav-card mx-3 col-sm-2" routerLink="/registerRepeat">
    <h5>1st Semester</h5>
  </div>
  <div class="nav-card mx-3 col-sm-2" routerLink="/registerRepeat">
    <h5>2nd Semester</h5>
  </div>
  </div>

  <br>
  <br>
  <div class="row">
      <h3>2nd Year</h3>
      </div>
      <div class="row">
  <div class="nav-card mx-3 col-sm-2" routerLink="/registerRepeat">
    <h5>1st Semester</h5>
  </div>
  <div class="nav-card mx-3 col-sm-2" routerLink="/registerRepeat">
    <h5>2nd Semester</h5>
  </div>
</div>
<br>
<br>

<div class="row">
    <h3>3rd Year</h3>
    </div>
    <div class="row">
<div class="nav-card mx-3 col-sm-2" routerLink="/registerRepeat">
  <h5>1st Semester</h5>
</div>
<div class="nav-card mx-3 col-sm-2" routerLink="/registerRepeat">
  <h5>2nd Semester</h5>
</div>
</div>
<br>
<br>
<div class="row">
    <h3>4th Year</h3>
    </div>
    <div class="row">
<div class="nav-card mx-3 col-sm-2" routerLink="/admin/login">
  <h5>1st Semester</h5>
</div>
<div class="nav-card mx-3 col-sm-2" routerLink="/admin/login">
  <h5>2nd Semester</h5>
</div>
</div>